extends ./layout.jade
block content
	nav(class="navbar navbar-default" style="background-color: #037E8C;")
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="background-color: #024959;")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="navbar-brand navegacion" href="/")
					img(alt="" src="/imgs/titulo-icono.png" style="width: 1.5em; height: 1.5em;")
			div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
				ul(class="nav navbar-nav navbar-right")
					li
						a(href="/" style="color: white;") Inicio
					li
						a(href="#" style="color: white;") Pelicula
					li(class="active")
						a(href="/login" style="color: black;") Login
						span(class="sr-only") (current)

	div(class="container" style="background-color: #FFFFFA; border: 4px solid #024959; border-radius: 5px;")
		div(class="row" style="background-color: #D96459;")
			div(class="col-md-12")
				h1 #[strong(style="color: white;") Eliminar Pelicula]
		br
		
		div(class="row")
			div(class="col-md-12")
				form(method="post" action="/pelicula/#{peli.id}?_method=delete")
					div(class="form-group")
						label(for="campoTitulo") Titulo
						input(type="text" value="#{peli.Title}" class="form-control" id="campoTitulo" name="titulo" placeholder="Titulo" onkeypress="upperCase('titulo');" required disabled)
						label(for="campoAño") Año
						input(type="text" value="#{peli.Year}" class="form-control" id="campoAño" name="año" placeholder="Año" required disabled)
						label(for="campoClasificacion") Clasificacion
						input(type="text" value="#{peli.Rated}" class="form-control" id="campoClasificacion" name="Clasificacion" placeholder="Clasificacion" required disabled)
						label(for="campoEstreno") Estreno
						input(type="text" value="#{peli.Released}" class="form-control" id="campoEstreno" name="estreno" placeholder="Estreno" required disabled)
						label(for="campoDuracion") Duracion
						input(type="text" value="#{peli.Runtime}" class="form-control" id="campoDuracion" name="duracion" placeholder="Duracion" required disabled)
						label(for="campoGeneros") Generos
						input(type="text" value="#{peli.Genre}" class="form-control" id="campoGeneros" name="generos" placeholder="Generos" required disabled)
						label(for="campoDirector") Director
						input(type="text" value="#{peli.Director}" class="form-control" id="campoDirector" name="director" placeholder="Director" required disabled)
						label(for="campoEscritor") Escritor
						input(type="text" value="#{peli.Writer}" class="form-control" id="campoEscritor" name="escritor" placeholder="Escritor" required disabled)
						label(for="campoActores") Actores
						input(type="text" value="#{peli.Actors}" class="form-control" id="campoActores" name="actores" placeholder="Actores" required disabled)
						label(for="campoLenguaje") Lenguaje
						input(type="text" value="#{peli.Language}" class="form-control" id="campoLenguaje" name="lenguaje" placeholder="Lenguaje" required disabled)
						label(for="campoLocacion") Locacion
						input(type="text" value="#{peli.Country}" class="form-control" id="campoLocacion" name="locacion" placeholder="Locacion" required disabled)
						label(for="campoPremios") Premios
						input(type="text" value="#{peli.Awards}" class="form-control" id="campoPremios" name="premios" placeholder="Premios" required disabled)
						label(for="campoSinopsis") Sinopsis
						textarea(class="form-control" rows="5" id="campoSinopsis" name="texto" placeholder="Sinopsis" required disabled) #{peli.Plot}
						input(type="file" name="imagen" disabled)
						br
						button(type="submit" class="btn btn-danger") Eliminar